<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">   
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Tech Blog</a>
        <a class="nav-link" href="/">Homepage</a>
        {{!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent" style="z-index: 10;">
            <ul class="navbar-nav mr-auto">
            <li class="nav-item active"> --}}
                <a class="nav-link" href="/dashboard">Dashboard</a>
            {{!-- </li> --}}
            {{#if loggedIn}}
            {{!-- <li class="nav-item"> --}}
                <button class="btn btn-link" id="btnLogout">Logout</button>
            {{!-- </li> --}}
            {{else}}
            {{!-- <li class="nav-item"> --}}
                <a class="nav-link" href="/login">Login</a>
            {{!-- </li> --}}
            {{/if}}
            {{!-- </ul> --}}
        {{!-- </div> --}}
    </nav>

    <main class="container container-fluid mt-5">
        {{{ body }}}
    </main>
  
    {{#if loggedIn}}
        <script src="/js/logout.js"></script>
    {{/if}}
</body>

</html>
